.case-history {
  .case-history-control-panel {
    margin-top: 10px;
    align-items: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;
    .case-history-control-segment {
      margin-bottom: 10px;
      &.empty {
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    .case-history-control-segment.filter {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .item {
        min-width: 200px;
        margin-right: 5px;
      }
      &.mobile {
        .item {
          min-width: 100px;
          margin-right: 5px;
          &.MuiFormControl-root {
            width: 100px;
          }
        }
      }
    }
  }
  .history-container {
    max-width: 1200px;
    .history-accordion-item {
      .history-accordion-header {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        padding-right: 20px;
      }
      .history-accordion-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}
.history-modal {
  width: 100%;
  .input {
    width: 100%;
  }
  .file-input {
    .exited-file-list {
      display: flex;
      flex-direction: column;
      .exited-file-list-control-panel {
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        button {
          margin-left: 20px;
        }
      }
    }
    .item {
      margin-top: 5px;
      .file-name {
        display: flex;
        padding: 10px 0;
      }
    }
  }
}
