.table-popover-container {
  .popover {
    border-radius: 0;
    .popover__buttons {
      display: flex;
      flex-direction: column;
    }
    .popover__button {
      color: black;
      text-transform: none;
      &:hover {
        background-color: rgb(236, 236, 236);
      }
    }
  }
}
