.modal-edit-appointment {
  .modal-control-panel {
    display: flex;
    button {
      padding: 0;
      min-width: 0;
      width: 25px;
      padding: revert-layer;
      margin: 0;
    }
  }
  .mobile-time-picker {
    div {
      padding: 0;
      input {
        padding: 5px;
        width: 70px;
      }
    }
  }
}
.big-calendar {
  .appointment-event.pending {
    background-color: #ffa500;
  }
  .appointment-event.confirmed {
    background-color: #28a745;
  }
  .appointment-event.awaiting {
    background-color: #17a2b8;
  }
  .appointment-event.in_cabinet {
    background-color: #6f42c1;
  }
  .appointment-event.finished {
    background-color: #6c757d;
  }
  .rbc-event {
    border: none;
    border-left: 3px solid #008fba;
    outline: none;
    border-radius: 0 5px 5px 0;
  }
  .appointment-event {
    .custom-event-container {
      .note {
        margin-top: 5px;
      }
      .name {
        font-size: 8px;
        svg {
          width: 15px;
        }
      }
      .doctor-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .doctor-image {
          margin-right: 5px;
          width: 40px;
          border-radius: 50%;
        }
      }
    }
  }
  .rbc-timeslot-group {
    min-height: 100px; // Increase this value to make time slots taller
  }

  .rbc-time-slot {
    height: 100px; // Match this with the min-height above
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  .empty-icon {
    font-size: 4rem;
  }
}