.metadata {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &-box {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(25px, 50px);
  }

  .metadata-info {
    position: relative;
    .edit-btn-box {
      display: flex;
      justify-content: flex-end;
    }
    .metadata-container {
      width: 100%;
      .metadata-item {
        display: flex;
        align-items: center;
        gap: 8px;
        .mobile-time-picker {
          width: 80px;
        }
      }
    }
  }
}
