.metadata {
  .metadata-info,
  .workspace-info {
    position: relative;
    align-self: flex-start;
    .edit-btn-box {
      display: flex;
      justify-content: flex-end;
    }
    .metadata-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .metadata-item {
        display: flex;
        align-items: center;
        gap: 14px;
        &-title {
          width: 200px;
        }
        &-value {
          max-width: 190px;
        }
        .mobile-time-picker {
          width: 80px;
        }
      }
    }
  }

  #workspaceNotes {
    padding: 4px 8px;
  }
}

.box {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 24px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
