.metadata {
  .metadata-info {
    position: relative;
    align-self: flex-start;
    .edit-btn-box {
      display: flex;
      justify-content: flex-end;
    }
    .metadata-container {
      width: 100%;
      .metadata-item {
        display: flex;
        align-items: center;
        gap: 8px;
        .mobile-time-picker {
          width: 80px;
        }
      }
    }
  }
}

.box {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 24px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
