.periodontal-card {
  padding-top: 5px;

  .title {
    margin-bottom: 20px;
  }

  .teeth-section {
    .teeth-section-content {
      display: grid;
      grid-template-columns: 100px auto;
      margin-bottom: 40px;

      .teeth-values {
        display: grid;
        grid-template-columns: repeat(16, 70px);
        grid-template-rows: 200px;

        .tooth-number {
          text-align: center;
        }

        .box-item {
          height: 25px;
          width: 100%;
          text-align: center;
          padding: 0 4px;
          margin-bottom: 8px;

          .MuiInputBase-input {
            text-align: center;
          }
        }

        .implant {
          height: 30px;
          text-align: center;
          padding-top: 5px;
        }

        .multiple-furcations {
          display: flex;
          height: 25px;
        }

        .furcation {
          display: flex;
          justify-content: center;
          background-color: #e9e9e9;
          border-left: none;
          border-right: none;
          height: 25px;
          border: 1px solid #333131;
          &-icon {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: flex;

            .round {
              width: 50%;
              height: 100%;
            }

            .right {
              border-top-right-radius: 50%;
              border-bottom-right-radius: 50%;
            }

            .left {
              border-top-left-radius: 50%;
              border-bottom-left-radius: 50%;
            }
          }
          &-icon.value_1 {
            border: 1px solid #333131;
          }
          &-icon.value_2 {
            border: 1px solid #333131;
            .left {
              background-color: #333131;
            }
          }
          &-icon.value_3 {
            border: 1px solid #333131;
            .left,
            .right {
              background-color: #333131;
            }
          }
        }
        .furcation.is-implant {
          background-color: #ffffff;
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
        }

        .bleeding,
        .plaque,
        .margin,
        .depth {
          display: flex;
          gap: 1px;
        }

        .field {
          width: 20px;
          height: 25px;
          border: none;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* For Firefox */
        input[type="number"] {
          -moz-appearance: textfield;
        }

        .depth,
        .margin {
          .MuiInputBase-root {
            &::before,
            &::after {
              display: none;
            }

            &.Mui-focused {
              background-color: #b0c4de;
            }
          }
        }
      }
    }
  }

  .teeth-section-names {
    .name {
      height: 25px;
      margin-bottom: 8px;
    }
  }
}

.divider {
  margin-bottom: 10px;

  &-content {
    border: 1px solid black;
    display: flex;
    gap: 16px;
    padding: 8px;
  }
}
