.periodontal-card {
  .teeth-section {
    .teeth-section-content {
      .teeth-values {
        display: grid;
        grid-template-columns: repeat(16, 50px);
        grid-template-rows: 500px;
      }
    }
  }

  .divider {
    margin-bottom: 10px;
    &-content {
      border: 1px solid black;
      display: flex;
      gap: 16px;
      padding: 8px;
    }
  }
}
