.dental-map-background {
  padding: 50px 120px;
  width: fit-content;
  background-size: cover;
  position: relative;
  border-radius: 100px;
  @media screen and (max-width: 1000px) {
    border-radius: 0;
    overflow-x: scroll;
    background-image: none !important;
    width: auto;
    padding: 10px;
  }
}
.dental-map {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  grid-template-rows: 1fr 3px 1fr;
  max-width: 620px;
  // @media screen and (max-width: 1000px) {
  //   overflow-x: scroll;
  // }
  .tooth-map-layout {
    display: grid;
    width: 310px;
    grid-template-columns: 45px 45px 45px 35px 35px 35px 35px 35px;
    grid-template-rows: auto;
    .tooth-box {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50px 90px 50px 1fr;
      align-items: center;
      justify-items: center;
      .tooth-panel {
        width: 30px;
        min-width: 10px;
        border: none;
        svg {
          cursor: pointer;
        }
      }

      .tooth-svg {
        display: block;
        width: 35px;
        height: 100%;
        img {
          height: 100%;
        }
      }
      .tooth-svg.big {
        width: 45px;
      }
      .tooth-svg.b {
        transform: rotate(180deg);
      }
      .tooth-svg.b.l {
        transform: rotate(180deg) scaleX(-1);
      }
      .tooth-svg.l.u {
        transform: scaleX(-1);
      }
      .tooth-svg.removed {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        svg {
          width: 100%;
          stroke: coral;
        }
      }
      .tooth-svg.pathology {
        display: flex;
        justify-content: center;
      }

      .zone-svg {
        display: block;
        width: 35px;
        height: 35px;
      }
    }
    .tooth-box.bottom {
      grid-template-rows: 1fr 50px 90px;
    }
  }
  .tooth-map-layout.right {
    grid-template-columns: 35px 35px 35px 35px 35px 45px 45px 45px;
  }
}
