.room-item-messages {
  .room-item-messages__list {
    height: 40vh;
    .scrollable-div {
      overflow: auto;
      display: flex;
      flex-direction: column-reverse;
      .messages-divider {
        width: 100%;
        padding: 20px;
      }
      .messages-list {
        .message-item-container {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
        }
      }
    }
  }

  &__input {
    .MuiInputAdornment-root {
      max-height: 100%;
    }

    .files {
      padding: 10px 0;
      max-width: 200px;
      display: flex;
      flex-direction: column;
      gap: 6px;

      .file-name {
        display: flex;
        align-items: center;
        cursor: default;
        gap: 4px;
      }
    }
  }
}
