.room-item-messages {
  .room-item-messages__list {
    height: 40vh;

    .room-item-messages__list-container {
      .messages-list {
        .message-item-container {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
        }
      }
    }
  }
}
