.tooth-color-box {
  position: relative;
  .edit-btn-box.not-editable {
    display: none;
  }
  .edit-btn-box {
    display: flex;
    justify-content: flex-end;
  }
  .colors-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    .colors-box {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: minmax(25px, 50px);
      width: 100%;
      align-items: center;
      .color-box-item {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 50px;
        grid-template-rows: 1fr;
        align-items: center;
        .color-background {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-left: 5px;
        }
      }
    }
  }
  .colors-container.editing {
    .colors-box {
      .color-box-item {
        grid-template-columns: 1fr 30px 30px;
      }
    }
  }
}
